* {
  box-sizing: border-box;
}
/* fonts */
@font-face {
  font-family: Montserrat;
  src: url(/fonts/Montserrat-light.ttf);
}
/* Base */
body {
  margin: 0;
  font-family: Montserrat;
}
a {
  text-decoration: none;
  color: rgb(7, 12, 0);
  font-family:cursive;
}
button:hover {
  cursor: pointer;
}

img {
  width: 100%;
  max-width: 300px;
}
img:hover {
  cursor: pointer;
}
body.menu-open .screen {
  opacity: 1;
  visibility: visible;
}
body.screen-toggle .screen {
  opacity: 1;
  visibility: visible;
}
.template {
  min-width: 200px;
  max-height: 250px;
}
.templates {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
ul {
  list-style-type: none;
}
li {
  float: left;
}
li > div:hover {
  cursor: pointer;
}
/* imgs container */
/* search bar */
.search-bar {
  height: 70px;
}
.gsearch {
  border: 0;
  border-bottom: 1px solid black;
  margin-inline-start: 50px;
}

.keyword {
  margin-inline-start: 2.5rem;
}
.imgs-container {
  background-color: lightskyblue;
  padding-left: 50px;
  padding-right: 50px;
}
@media (max-width: 415px) {
  img {
    padding: 0 5px;
  }
  .canvas-container {
    padding: 0 5px;
  }
  .imgs-container {
    background-color: #e3fa7f;
    padding-left: 30px;
    padding-right: 0;
  }
}

/* generetor */
.generator-page {
  display: flex;
  height: 600px;
}
/* generator inputs */
.font-input {
  width: 3rem;
  background: white;
  border-radius: 25%;
  display: flex;
}
.meme-done-btns {
  margin-top: 100px;
 
}
.meme-done-btn {
  background-color: #f0ece8;
  border-radius: 12px;
  font-size: 0.7rem;
  border: 1px solid #2b2b2b;
  color: #313030;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  grid-area: 2;
}

.color-picker {
  height: 100%;
}

/* helpers */
.full-size {
  min-width: 100%;
}
.screen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
  z-index: 0;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s;
}
.visable {
  display: block;
  z-index: 5;
}
/* flex helpers */

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
.justify-start {
  justify-content: start;
}
.justify-evenly {
  justify-content: space-evenly;
}
/* Header */
header {
  min-width: 100%;
  height: 66px;
  background-color: #bbbaba;
  color: white;
}
.logo-cont {
  margin-inline-start: 45px;
}
.logo-img {
  width: 130px;
  height:80px;
  object-fit: contain;
}
.main-nav {
  margin-inline-end: 40px;
}
.main-nav .nav-herf {
  color: white;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 131px;
}

.main-nav .nav-herf:hover {
  cursor: pointer;
  box-shadow: 0 0 0 #1d1d1d, inset 0 -6px 0 #1d1d1d;
}
.main-nav .nav-herf:hover a {
  color: #1d1d1d;
}
.seperator {
  color: #8a8a8a;
  width: 1px;
  margin: 17px 0;
}
.mobile-menu-btn {
  color: white;
  font-size: 32px;
  margin-inline-end: 15px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}
@media (min-width: 710px) {
  .mobile-menu-btn {
    display: none;
  }
}
@media (max-width: 710px) {
  /* .main-nav{
        display: none;
    } */
  .seperator {
    display: none;
  }
  .main-nav {
    margin: 0;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: fixed;
    z-index: 3;
    /* bottom: 100vh; */
    right: 0;
    /* width: 100vw; */
    height: 100vh;
    background: rgb(100 50 0 / 90%);
    /* box-shadow: -8px 0px 20px rgb(0 0 0 / 10%); */
    transform: translateX(200%);
    /* border-left: solid 1px #ccc; */

    transition: transform 0.8s, box-shadow 0.8s;
  }
  body.menu-open .main-nav {
    transform: translateX(0%);
    box-shadow: -8px 0px 20px rgb(0 0 0 / 10%);
  }
  .main-nav .nav-herf {
    height: 20%;
  }
}
/* Genarerator page */
.canvas-container {
  margin: 30px 0;
  margin-right: 70px;
}
.meme-edit-tools {
  min-width: 30%;
  margin-top: 35px;
  margin-left:50px;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
}
.meme-text-input {
  min-width: 95%;
  height: 60px;
  border-radius: 12px;
  background-color: #ffffff;
}
.btns-container {
  width: 100%;
}
.basic-btns {
  margin: 10px 20%;
}
.secondery-btns {
  margin-top: 50px;
  flex-wrap: wrap;
}
@media (max-width: 910px) {
  .canvas-container {
    margin: 0;
    margin-left: -60px;
  }
  .basic-btns {
    margin-top: 10px;
  }
}
@media (max-width: 710px) {
  .imgs-container {
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .generator-page {
    height: 100%;
    flex-direction: column;
  }
  .canvas-container {
    width: 100%;
    margin: 0;
    margin-top: 10px;
    align-self: center;
  }
  .btns-container {
    margin-bottom: 30px;
  }
  .meme-done-btns {
    margin-top: 30px;
  }
  .basic-btns {
    margin: 10px 20px;
  }
  .secondery-btns {
    margin: 50px 20px;
  }
}
/* Ready memes */
.ready-meme {
  padding: 0 5px;
}
.meme-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  min-width: 350px;
  background-color: rgb(100 50 0 / 90%);
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-img {
  width: 80%;
}
.saved-meme-btns {
  display: grid;
  margin-top: 20px;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 5px;
}
@media (min-width: 900px) {
  .saved-meme-btns {
    display: flex;
    margin-top: 10px;
  }
  .meme-done-btn {
    min-width: 0;
    max-width: 100%;
    justify-content: center;
  }
}
.delete-btn {
  background-color: red;
  border-color: red;
}
/* personal details */
.personal-details {
  max-width: 100%;
  height: 570px;
}
.about {
  min-width: 300px;
  height: 320px;
}
.about > p {
  width: 30ch;
}
.profile-img {
  height: 100%;
  max-width: 320px;
  border-radius: 50%;
  margin-left: 100px;
}
.personal-info {
  margin-left: 50px;
  margin-right: 50px;
}
.social-btns {
  justify-content: space-between;
  height: 30px;
  width: 180px;
}
.fab {
  color: #ff7f00;
  height: 100%;
  width: 33%;
}
.fab:hover {
  cursor: pointer;
}
@media (max-width: 710px) {
  .personal-details {
    margin-bottom: 30px;
  }
  .about {
    flex-direction: column;
    height: 530px;
  }
  p {
    font-size: 15px;
    margin-top: 0;
  }
  .profile-img {
    margin: 0;
  }
  .personal-info {
    text-align: center;
    align-items: center;
  }
  h2 {
    color: #ff7f00;
  }
  @media (max-width: 380px) {
    p {
      font-size: 0.75rem;
    }
  }
}
/* footer */
footer {
  width: 100%;
  height: 210px;
  background-color: #94928f;
}
.credits {
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
.avi{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-style: italic;
    font-size:20px;
}